---
import ExternalLink from "./ExternalLink.astro";
const email = "me@spenser.black";
const bluesky = "https://bsky.app/profile/spenser.black";
const codeberg = "https://codeberg.org/spenserblack";
const github = "https://github.com/spenserblack";
const sourceCode = `${github}/spenserblack.github.io`;
---

<footer>
	<h2>Links</h2>
	<ul class="horizontal">
		<li>
			<strong>Contact</strong>
			<ul class="vertical">
				<li><a href={`mailto:${email}`}>{email}</a></li>
				<li><ExternalLink link={bluesky}>Bluesky</ExternalLink></li>
				<li><ExternalLink link={codeberg}>Codeberg</ExternalLink></li>
				<li><ExternalLink link={github}>GitHub</ExternalLink></li>
			</ul>
		</li>
		<li>
			<strong>Other</strong>
			<ul class="vertical">
				<li><ExternalLink link={sourceCode}>Site source code</ExternalLink></li>
			</ul>
		</li>
	</ul>
</footer>

<style>
	ul {
		display: flex;
		justify-content: space-around;
	}
	ul.horizontal {
		flex-direction: row;
	}
	ul.vertical {
		flex-direction: column;
	}
	li {
		display: inline-block;
		flex-direction: column;
		margin: 0 0.5rem;
	}
</style>
